@mixin base-button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;

    &:hover {
        background-color: darkred;
    }
}